# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Node
node_modules/
.next/
out/

# VS Code
.vscode/

# Logs
*.log

# Database
*.sqlite3

# Vector database (recommended if it contains generated embeddings)
vector_db/

# OS
.DS_Store
Thumbs.db